body{
    background: rgb(7,137,179);
    background: radial-gradient(circle, rgba(7,137,179,1) 0%, rgba(0,0,11,1) 100%);
    
}
h1{
    color: rgba(0, 0, 0, 0.75);
    text-align:  center;
    font-family: sans-serif;
    
}
p{
    color: white;
    text-indent: 6%; 
    margin: 6%; 
    font-family: sans-serif;
    font-size: 16;

}
h2, p {
    margin: 2%;
    color: white;
    font-family:sans-serif;
    
}
.imagenInicial img {
    width: 100%;
    height: auto;
}
.imagenInicial {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
.presentacion{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(68, 172, 158, 0.671); 
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
}
.contenedor{
    margin: 0 auto;
    margin-top: 5px;
    width: 72%;
    height: auto;
    
}
.contenedorFoto{
    border-style: solid;
    border-color:white;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 10px;
    float: left;
    width: 17.7%;
    height: auto;
    box-shadow: 0 0 15px rgb(46, 240, 247);
}
.sobreMi{
    border-style: solid;
    border-color:white;
    border-width: 1px;
    border-radius: 10px;
    margin-top: 0.7%;
    margin-bottom: 10px;
    float: right;
    width: 80%;
    height: 27%;
    text-align: center;
    box-shadow: 0 0 15px rgb(46, 240, 247);
}

.educacion{
    float: left;
    width: 30%;
    height: 80%;
    background-color: white;
    margin-top: 0.7%;
    margin-left: 20%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);

}
.experiencia{
    float: left;
    width: 30%;
    height: 80%;
    background-color: white;
    margin-top: 0.7%;
    margin-left: 1%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    
}

.tecnologias{
    float: left;
    width: 100%;
    height: auto;
    margin-top: 2.5%;
    text-align: center;
}
.aprendiendo{
    float: left;
    width: 100%;
    height: auto;
    text-align: center;
}
p.textoOscuro{
    color: rgba(0, 0, 0, 0.8);
    text-indent: 5%; 
    font-size: 16;
    margin: 3.5%; 
}
.tecnologias img {
    border-radius: 10px;
    margin: 0.2%;
    transition: transform 0.8s; 
}
.tecnologias img:hover {
    animation: shake 0.6s;
    animation-iteration-count: inherit;
}
.aprendiendo img {
    border-radius: 10px;
    margin: 0.2%;
    transition: transform 0.8s; 
}
.aprendiendo img:hover {
    animation: shake 0.6s;
    animation-iteration-count: inherit;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.proyectos{
    float: left;
    width: 100%;
    height: 105%;
    margin-top: 2.5%;
    text-align: center;
}
.imagenProyecto{
    width: 16.6%;
    height: 63%;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 0.6%;
    cursor: pointer;
    float: left;
}
.descripcionProyecto{
    width: 16.6%;
    height: 16%;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    margin: 0.6%;
    float: left;
    
}
.java{
    margin-right: 100%;
    margin-top: 2.5%;
    margin-left: 2.5%;
    display: inline-block;
    background-color: transparent;
    color: orange;
    border: solid;
    width: 19%;
    height: 16%;
    border-radius: 20px;
    border-color: orange;
    border-width: 1px;
    text-align: center;
}
.java:hover {
    background-color: orange ;
    color: white;
    transition: background-color 0.8s; 
}


.contact-container {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    overflow: hidden;
    max-width: 61%;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 4%;
}

.contact-form {
    padding: 2.2%;
    flex: 2;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.5em;
    margin-bottom: 2.5%;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.form-group input,
.form-group textarea {
    width: 48%;
    padding: 2%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    width: 100%;
    height: 200px;
    resize: none;
}

button {
    width: 100%;
    padding: 2%;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.contact-info {
    background-color: #464646;
    color: white;
    padding: 2%;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.head-info {
margin-bottom: 2%;
}
p.frase{
    text-indent: 0%;
    margin: 2.7%;
}

.info-group {
    display: flex;
    flex-direction: column;
}
.info-group a {
    
    margin: 2.5%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.info-group img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    border-radius: 3px;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(7, 139, 2, 0.671); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: solid;
    border-color: rgb(7, 139, 2);
    border-width: 1px;
    display: none;
    z-index: 1000;
}

.message.show {
    display: block;
}
@media (max-width: 768px){
    .aprendiendo{
        width: 100%;
    }
    .contact-container{
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .contact-info{
        width: 100%;
    }
    .contenedor{
        width: 100%;
    }
    .contenedorFoto{
        width: 100%;
    }
    .descripcionProyecto{
        width: 100%;
    }
    .educacion{
        width: 100%;
    }
    .experiencia{
        width: 100%;
    }
    .form-group{
        width: 100%;
    }
    .head-info{
        width: 100%;
    }
    .imagenInicial{
        width: 100%;
    }
    .imagenProyecto{
        width: 100%;
    }
    .info-group{
        width: 100%;
    }
    .java{
        width: 100%;
    }
    .message{
        width: 100%;
    }
    .message.show{
        width: 100%;
    }
    .presentacion{
        width: 100%;
    }
    .proyectos{
        width: 100%;
    }
    .sobreMi{
        width: 100%;
    }
    .tecnologias{
        width: 100%;
    }
 
}