body{
    background: rgb(7,137,179);
    background: radial-gradient(circle, rgba(7,137,179,1) 0%, rgba(0,0,11,1) 100%);
    
}
h1{
    color: rgba(0, 0, 0, 0.75);
    text-align:  center;
    font-family: sans-serif;
    
}
p{
    color: white;
    text-indent: 6%; 
    margin: 1.5%; 
    font-family: sans-serif;
    font-size: 1em;

}
p.textoOscuro{
    color: rgba(0, 0, 0, 0.8);
    text-indent: 5%; 
    font-size: 16;
    margin: 2.5%; 
    text-align: left;
}
h2 {
    margin: 2%;
    color: white;
    font-family:sans-serif;
    font-size: 1.4em;
    
}
.imagenInicial img {
    width: 100%;
    height: auto;
}
.imagenInicial {
    position: relative;
    width: 100%;

}
.presentacion{ 
    position: absolute;
    top: 27%;
    height: auto;
    width: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(68, 172, 158, 0.671); 
    padding-bottom: 0.2em;
    text-align: center;
    border-radius: 10px;
    font-size: 1.2em;
}
.presentacion p {
    margin: 0.1em;
    text-indent: 0%;
    padding: 0.3%;
}

.contenedor{
    display: flex;
    align-items: stretch; 
    justify-content: space-between; 
    gap: 1%;
    margin: 1em auto;
    max-height: auto;
    width: 100%;
    text-align: center;

}
.contenedorFoto{

    border-radius: 10px;
    text-align: center;
    flex: 1 1 17.7%; 
    max-width: 13%; 
    margin-left: 14%;
    max-height: 10%;
    display: flex; 
    align-items: center;
    justify-content: right;
    
}
.contenedorFoto img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    border: 1px solid  rgb(46, 240, 247);
}
.sobreMi{
    border: 1px solid  rgb(46, 240, 247);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    text-align: center;
    flex: 1 1 45%; 
    max-width: 90%; 
    max-height: 10%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-right: 10%;

}
.sobreMi h2{
    margin: 1%; 
    font-size: 30px; 
    width: 100%;
    text-align: center; 
}
.sobreMi p{
    width: 100%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-bottom: 3%;
    text-align: center; 
}

.contenedorEdEx{
    display: flex; 
    flex-wrap: wrap; 
    align-items: stretch; 
    justify-content: center; 
    gap: 1%; 
    max-height: auto;
    width: 100%;
    text-align: center;
}

.educacion{
    border: 1px solid rgb(46, 240, 247);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    flex: 1 1 30%; 
    max-width: 30%; 
    max-height: 20%;
    background-color: white;
    display: flex; 
    flex-direction: column; 
    margin-left: 10%;
    padding-bottom: 1%;

}
.educacion h1{
    margin: 1%;
    padding-top: 3%;
}
.experiencia{
    border: 1px solid rgb(46, 240, 247);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    flex: 1 1 30%; 
    max-width: 30%; 
    max-height: 50%;
    background-color: white;
    display: flex; 
    flex-direction: column; 
    margin-right: 10%;
    padding-bottom: 1%;
    
}
.experiencia h1{
    margin: 1%;
    padding-top: 3%;
}

.tecnologias{

    display: flex; 
    align-items: center; 
    gap: 0.4%; 
    margin: 1em;
    flex-wrap: wrap; 
    justify-content: center; 

}
.tecnologias h1 {
    width: 100%;
    padding: 0.2em 0.5em; 
}
.tecnologias img {
    border-radius: 10px;
    margin: 0.2%;
    transition: transform 0.8s; 
}
.tecnologias img:hover {
    animation: shake 0.6s;
    animation-iteration-count: inherit;
}
.aprendiendo{
    display: flex; 
    align-items: center; 
    gap: 0.4%; 
    flex-wrap: wrap; 
    justify-content: center; 

}
.aprendiendo h1 {
    width: 100%;
    padding: 0.2em 0.5em; 
}
.aprendiendo img {
    border-radius: 10px;
    margin: 0.2%;
    transition: transform 0.8s; 
}
.aprendiendo img:hover {
    animation: shake 0.6s;
    animation-iteration-count: inherit;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.proyectos{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;  
    gap: 1%;  
    margin-bottom: 3%;
}
.proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(46, 240, 247);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    padding: 1em;
    background-color: transparent;
    max-width: 18%;  
    text-align: center;
    flex: 1 1 300px; 
}
.proyectos h1 {
    width: 100%;
    text-align: center;
    padding: 0.2em; 
}
.imagenProyecto{
    justify-content: center;
    border-radius: 10px;
    margin: 0.5%;
    margin-bottom: 1em;
}
.imagenProyecto h2{
    width: 100%;
    text-align: center;
}
.descripcionProyecto{

    border: 1px solid rgb(46, 240, 247);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    flex: 1 1 30%; 
    max-width: 100%; 
    max-height: 40%;
    display: flex; 
    flex-direction: column; 
    padding-bottom: 1%;
    margin-top: 1.5%;
    
}

.imagenProyecto img {
    max-width: 70%;  
    height: auto;  
    border-radius: 10px;
    cursor: pointer;
}
.java{
    margin: 2%;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: orange;
    border: solid;
    max-width: 19%;
    max-height: 15%;
    border-radius: 15px;
    border-color: orange;
    border-width: 1px;
   
}
.java:hover {
    background-color: orange ;
    color: white;
    transition: background-color 0.8s; 
}


.contact-container {
    display: flex;
    background-color: #ffffff;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(46, 240, 247);
    overflow: hidden;
    max-width: 67%;
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 4%;

}

.contact-form {
    padding: 1em;
    flex: 1 1 26%;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: 1.7em;
    margin-bottom: 0.7em;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.form-group input,
.form-group textarea {
    width: 48%;
    padding: 0.7em;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.form-group textarea {
    width: 100%;
    height: 15em;
    resize: none;
}

button {
    width: 100%;
    padding: 0.8em;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.contact-info {
    background-color: #464646;
    color: white;
    padding: 2%;
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.head-info {
margin-bottom: 2%;
}
.autor{
    text-align: right;
}
p.frase{
    text-indent: 0%;
    margin: 2.7%;
}

.info-group {
    display: flex;
    flex-direction: column;
}
.info-group a {
    
    margin: 2.5%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.info-group img {
    width: 30px;
    height: 30px;
    margin-right: 2%;
    border-radius: 3px;
}

.message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(7, 139, 2, 0.671); 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border: solid;
    border-color: rgb(7, 139, 2);
    border-width: 1px;
    display: none;
    z-index: 1000;
}

.message.show {
    display: block;
}

@media (max-width: 768px) {
    .proyecto {
        flex: 1 1 100%;  
        max-width: 100%;  
    }

    .imagenProyecto img {
        width: 100%; 
    }
}